<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft of the Ancients</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<style>
    #app {}
    * {
        box-sizing: border-box;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: Montserrat, Arial, sans-serif;
        font-weight: 700;
    }
    * {
        font-family:  Ubuntu, Arial, sans-serif;
        font-weight: 100;
    }
    body {
        color: #dadada;
        background: url(./invoker-pudge.jpg);
        background-attachment: fixed;
    }
    a {
        color: #bada55;
    }
    .container {
        padding: 1em;
        width:  90vw;
        max-width: 1000px;
        margin: 0 auto;
        background: #1a1a1a;
        box-shadow: 1px 1px 20px 4px #fff;
    }
    .col-left {
        float:  left;
        width:  66%;
    }
    .col-right {
        float: left;
        width:  33%;
    }
    .container .hero_selection {
        width: 20%;
        float: left;
    }
    .container .score {
        font-size: .8em;
    }
    .clear {
        clear:  both;
    }
    .container .hero_selection .score {
        width: 25px;
    }
    .container .team {
        display:  block;
    }
    .filter {
        margin-bottom: .4em;
    }
    input, select {
        border: none;
        background: #5a5a5a;
        color: #dadada;
    }
    .hero_selection input {
        width: calc(100% - 25px);
        border: 1px solid transparent;
    }
    .hero_selection input.field-valid {
        border: 1px solid green;
    }
    .hero_selection input.field-not-valid {
        border: 1px solid red;
    }
</style>

<body>
    <div id="app">
        <div class="container">
        <header><h1>Draft of the Ancients</h1></header>
            <div class="col-left">
                <h2>Enemy Team <span>{{total_scores(enemy_scores)}}</span></h2>
                <div class="team">
                    <span class="hero_selection">
                        <input type="text" class="enemy-hero" :class="enemy_hero_input_classes[0]" value="" v-model.lazy="enemy_hero[0]" value="">
                        <span class="score" v-bind:style="{width: enemy_scores[0]}">{{enemy_scores[0]}}</span>
                    </span>


                    <span class="hero_selection">
                        <input type="text" class="enemy-hero" :class="enemy_hero_input_classes[1]" value="" v-model.lazy="enemy_hero[1]" value="">
                        <span class="score" v-bind:style="{width: enemy_scores[1]}">{{enemy_scores[1]}}</span>
                    </span>


                    <span class="hero_selection">
                        <input type="text" class="enemy-hero" :class="enemy_hero_input_classes[2]" value="" v-model.lazy="enemy_hero[2]" value="">
                        <span class="score" v-bind:style="{width: enemy_scores[2]}">{{enemy_scores[2]}}</span>
                    </span>

                    <span class="hero_selection">
                        <input type="text" class="enemy-hero" :class="enemy_hero_input_classes[3]" value="" v-model.lazy="enemy_hero[3]" value="">
                        <span class="score" v-bind:style="{width: enemy_scores[3]}">{{enemy_scores[3]}}</span>
                    </span>

                    <span class="hero_selection">
                        <input type="text" class="enemy-hero" :class="enemy_hero_input_classes[4]" value="" v-model.lazy="enemy_hero[4]" value="">
                        <span class="score" v-bind:style="{width: enemy_scores[4]}">{{enemy_scores[4]}}</span>
                    </span>
                    <div class="clear"></div>
                </div>
                <h2>Ally Team <span>{{total_scores(ally_scores)}}</span></h2>
                <div class="team">
                    <span class="hero_selection">
                        <input type="text" class="ally-hero" :class="ally_hero_input_classes[0]" value="" v-model.lazy="ally_hero[0]" value="">
                        <span class="score" v-bind:style="{width: ally_scores[0]}">{{ally_scores[0]}}</span>
                    </span>


                    <span class="hero_selection">
                        <input type="text" class="ally-hero" :class="ally_hero_input_classes[1]" value="" v-model.lazy="ally_hero[1]" value="">
                        <span class="score" v-bind:style="{width: ally_scores[1]}">{{ally_scores[1]}}</span>
                    </span>


                    <span class="hero_selection">
                        <input type="text" class="ally-hero" :class="ally_hero_input_classes[2]" value="" v-model.lazy="ally_hero[2]" value="">
                        <span class="score" v-bind:style="{width: ally_scores[2]}">{{ally_scores[2]}}</span>
                    </span>

                    <span class="hero_selection">
                        <input type="text" class="ally-hero" :class="ally_hero_input_classes[3]" value="" v-model.lazy="ally_hero[3]" value="">
                        <span class="score" v-bind:style="{width: ally_scores[3]}">{{ally_scores[3]}}</span>
                    </span>

                    <span class="hero_selection">
                        <input type="text" class="ally-hero" :class="ally_hero_input_classes[4]" value="" v-model.lazy="ally_hero[4]" value="">
                        <span class="score" v-bind:style="{width: ally_scores[4]}">{{ally_scores[4]}}</span>
                    </span>
                    <div class="clear"></div>
                </div>
                
                <div v-for="(group, hero) in hero_data">
                    <h3>{{group.display_name}}</h3>
                </div>
            </div>
            <div class="col-right">

            <h2>Results</h2>
            <div class="filter">
            <label>Sort by best</label>
                <select v-model="counter_sorting">
                    <option value="best">Best</option>
                    <option value="worst">Worst</option>
                </select>
            </div>
            <div class="filter">
                <label>Filter</label> <input type="text" v-model="counter_filter"> <button v-on:click="clear_filter">&times;</button>
            </div>
            <div v-for="hero in computed_counters_sorted">
                <dl>
                    <dt><a :href="hero.link">{{hero.name | display_name}}</a></dt>
                    <dd>Score: {{hero.score}}</dd>
                    <dd>Counters: <span v-for="counter in hero.counters">
                        {{counter | display_name}}</span>
                    </dd>
                    <dd>Countered By: <span v-for="countered_by in hero.countered_by">{{countered_by | display_name}}</span></dd>
                    <dd>Pairs with: <span v-for="pairs_with in hero.pairs_with">{{pairs_with | display_name}}</span></dd>
                    </span>
                </dd>
            </div>
        </div>
        <div class="clear"></div>
        </div>
        
    </div>
    <script type="text/javascript" src="heroes.json"></script>
    <script type="text/javascript">
    SCORE_CONSTANTS = {
        PAIR_SCORE : 15,
        COUNTERED_SCORE : -30,
        COUNTERS_SCORE : 20
    };
    app = new Vue({
        el: '#app',
        data: {
            hero_data: hero_data,
            enemy_hero: [],
            enemy_scores: [0,0,0,0,0],
            ally_hero: [],
            ally_scores: [0,0,0,0,0],
            ally_hero_input_classes : [],
            enemy_hero_input_classes : [],
            computed_counters: {},
            computed_counters_sorted : {},
            counter_sorting : "best",
            counter_filter: "",
        },
        methods : {
            clear_filter: function(e){
                e.preventDefault();
                app.counter_filter = "";
            },
            total_scores : function(scores){
                return scores.reduce((a,c) => a + c );
            },
            total_score_ally : function(){
                return ally_scores.reduce((a,c) => a + c );
            }
        },
        computed : {
            // total_score_enemy
        },
        filters: {
            uppercase: function(v) {
                return v.charAt(0).toUpperCase() + v.slice(1);
            },
            display_name: function(hero_index) {
                if ( !hero_data || !hero_data[hero_index] || !hero_data[hero_index].display_name)
                    return "";
                return hero_data[hero_index].display_name;
            },
            get_counters_for: function(v){
                if ( v )
                    return get_counters_for(v);
                else
                    return [];
            },
            get_index_from_name(v){
                return get_index_from_name(v);
            },
            get_hero_score(hero){
                return get_hero_score(hero);
            },
            score_width(v){
                return Math.abs( v ) + "px";
            },
            sort_counters(data){
                return sort_and_filter_results(data);
            }
        }
    });
    app.$watch('counter_filter', function(){
        app.computed_counters_sorted = sort_and_filter_results(app.computed_counters);
    });
    app.$watch('counter_sorting', function(){
        app.computed_counters_sorted = sort_and_filter_results(app.computed_counters);
        compute_counters();
    });
    app.$watch('enemy_hero', function(oldData, newData) {
        var counters_and_pairs = computor_the_counters(app);
        app.computed_counters = {};
        app.computed_counters = counters_and_pairs;
        app.computed_counters_sorted = sort_and_filter_results(counters_and_pairs);
        for (var i = 0; i < app.enemy_hero.length; i++) {
            app.enemy_scores[i] = get_hero_score(app.enemy_hero[i]);
            app.enemy_hero_input_classes[i] = get_hero_input_class(app.enemy_hero[i]);
        }
        for (var i = 0; i < app.ally_hero.length; i++) {
            app.ally_scores[i] = get_hero_score(app.ally_hero[i]);
            app.ally_hero_input_classes[i] = get_hero_input_class(app.ally_hero[i]);
        }
    });
    app.$watch('ally_hero', function(oldData, newData) {
        var counters_and_pairs = computor_the_counters(app);
        app.computed_counters = {};
        app.computed_counters = counters_and_pairs;
        app.computed_counters_sorted = sort_and_filter_results(counters_and_pairs);
        for (var i = 0; i < app.enemy_hero.length; i++) {
            app.enemy_scores[i] = get_hero_score(app.enemy_hero[i]);
        }
        for (var i = 0; i < app.ally_hero.length; i++) {
            app.ally_scores[i] = get_hero_score(app.ally_hero[i]);
        }
    });
    function get_hero_input_class(hero){
        if ( hero === "" ){
            return "field-empty";
        }
        hero = hero.toLowerCase().replace(/[^a-zA-Z]/gi, "");
        let isvalid = (typeof app.hero_data[hero] !== "undefined" );
        return isvalid ? "field-valid" : "field-not-valid";
    }
    function link_hero(hero_display_name){
        console.log(hero_display_name);
        return "https://dota2.fandom.com/wiki/" + hero_display_name.replace(" ", "_");
    }
    function compute_counters(){
        var counters_and_pairs = computor_the_counters(app);
        app.computed_counters = {};
        app.computed_counters = counters_and_pairs;
    }
    function get_index_from_name(item){
        if ( !item )
            return "";
        return item.toLowerCase().replace(/[^a-zA-Z]/gi, "");
    }
    function get_counters_for(hero){
        var hero_data = app.hero_data;
        return hero_data[hero].counters;
    }
    function get_hero_score(hero){
        hero = get_index_from_name(hero);
        var results = { score: 0, countered_by: [], counters: [], pairs: [] };
        var hero_data = app.hero_data;
        var their_allies = [];
        var their_enemies = [];
        if ( app.ally_hero && app.ally_hero.indexOf(hero) !== -1 ){
            their_allies = app.ally_hero;
            their_enemies = app.enemy_hero;
        } else if ( app.enemy_hero && app.enemy_hero.indexOf(hero) !== -1  ){
            their_allies = app.enemy_hero;
            their_enemies = app.ally_hero;
        }
        their_enemies = their_enemies.filter(item => item)
            .map(item => item.toLowerCase().replace(/[^a-zA-Z]/gi, ""))
            .filter(item => (item in hero_data));
        their_allies = their_allies.filter(item => item)
            .map(item => item.toLowerCase().replace(/[^a-zA-Z]/gi, ""))
            .filter(item => (item in hero_data));

        if (their_enemies.length === 0 && their_allies.length === 0)
            return 0;
        for (var i = their_enemies.length - 1; i >= 0; i--) {
            // if current hero is in the heroes counters list of one of the selected heroes

            heroes_that_counter_selected = hero_data[their_enemies[i]].counters;
            if (heroes_that_counter_selected.indexOf(hero) !== -1) {
                results.score+=SCORE_CONSTANTS.COUNTERS_SCORE;
                results.counters.push(their_enemies[i]);
            }

            if (hero_data[hero].counters.indexOf(their_enemies[i]) !== -1) {
                results.score+=SCORE_CONSTANTS.COUNTERED_SCORE;
                results.countered_by.push(their_enemies[i]);
            }

        }
        for (var i = their_allies.length - 1; i >= 0; i--) {
            if (hero_data[hero].pairs.indexOf(their_allies[i]) !== -1) {
                results.score+=SCORE_CONSTANTS.PAIR_SCORE;
                results.pairs.push(their_allies[i]);
            }
            if (hero_data[their_allies[i]].pairs.indexOf(hero_data[hero]) !== -1) {
                results.score+=SCORE_CONSTANTS.PAIR_SCORE;
                results.pairs.push(their_allies[i]);
            }
        }
        return results.score;
    }

    function computor_the_counters(app) {
        var results = [];
        var hero_data = app.hero_data;
        var enemy_hero = app.enemy_hero.filter(item => item)
            .map(item => item.toLowerCase().replace(/[^a-zA-Z]/gi, ""))
            .filter(item => (item in hero_data));
        var ally_hero = app.ally_hero.filter(item => item)
            .map(item => item.toLowerCase().replace(/[^a-zA-Z]/gi, ""))
            .filter(item => (item in hero_data));
        if (enemy_hero.length === 0 && ally_hero.length === 0)
            return [];
        for (var c in hero_data) {
            // find counters
            if (enemy_hero.indexOf(c) !== -1)
                continue;
            if (ally_hero.indexOf(c) !== -1)
                continue;
            if (!results[c])
                results[c] = { score: 0, countered_by: [], counters: [], pairs: [], link : "" };

            for (var i = enemy_hero.length - 1; i >= 0; i--) {
                // if current hero is in the heroes counters list of one of the selected heroes

                heroes_that_counter_selected = hero_data[enemy_hero[i]].counters;
                if (heroes_that_counter_selected.indexOf(c) !== -1) {
                    results[c].score+=SCORE_CONSTANTS.COUNTERS_SCORE;
                    results[c].counters.push(enemy_hero[i]);
                }

                if (hero_data[c].counters.indexOf(enemy_hero[i]) !== -1) {
                    results[c].score+=SCORE_CONSTANTS.COUNTERED_SCORE;
                    results[c].countered_by.push(enemy_hero[i]);
                }

            }
            for (var i = ally_hero.length - 1; i >= 0; i--) {
                if (hero_data[c].pairs.indexOf(ally_hero[i]) !== -1) {
                    results[c].score+=SCORE_CONSTANTS.PAIR_SCORE;
                    results[c].pairs.push(ally_hero[i]);
                }
                if (hero_data[ally_hero[i]].pairs.indexOf(hero_data[c]) !== -1) {
                    results[c].score+=SCORE_CONSTANTS.PAIR_SCORE;
                    results[c].pairs.push(ally_hero[i]);
                }
            }
            console.log(link_hero(hero_data[c].display_name));
            results[c].link = link_hero(hero_data[c].display_name);


        }
        return results;
    }
    function sort_and_filter_results(results){
        var sorted_data = [];
        var final_data = [];
        for (var hero_name in results) {
            sorted_data.push([hero_name, results[hero_name].score]);
        }
        sorted_data.sort(function(a, b) {
            return ( b[1] - a[1] );
        });
        var filter = app.counter_filter.toLowerCase();
        console.log(sorted_data, filter);
        if ( filter ){
            sorted_data = sorted_data.filter(function(a, index, array){
                console.log(a);
                return a[0].indexOf(filter) !== -1;
            });
        }
        if ( app.counter_sorting === "worst" )
            sorted_data.reverse();
        for (var q = 0; q < sorted_data.length; q++) {
            var current_name = sorted_data[q][0];
            var data_i = results[current_name];
            final_data.push({ name: current_name, score: data_i.score, counters: data_i.counters, countered_by: data_i.countered_by, pairs_with: data_i.pairs, link: data_i.link });
        }
        console.log(final_data);
        return final_data;
    }
    </script>
</body>

</html>